footprint_to_odom_ekf:
  ros__parameters:
    frequency: 20.0  #original was 50.0
    #sensor_timeout: 0.1
    publish_tf: true
    transform_timeout: 0.01
    # transform_time_offset: 0.05
    # transform_timeout: 0.0
    two_d_mode: true
    # diagnostics_agg: true

    #x     , y     , z,
    #roll  , pitch , yaw,
    #vx    , vy    , vz,
    #vroll , vpitch, vyaw,
    #ax    , ay    , az

    #permit_corrected_publication: false
    #publish_acceleration: false

    #vx and vyaw are considered
    odom0: odom/raw
    odom0_nodelay: true
    odom0_config: [false, false, false,
                  false, false, false,
                    true,  false, false, #set vy to false; before it was true (true, true,false)
                  false, false, true,
                  false, false, false]

    odom0_pose_rejection_threshold: 5.0
    odom0_twist_rejection_threshold: 5.0
    #yaw and vyaw are considered
    imu0: imu/data
    imu0_nodelay:  true
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false,  true,
                  false, false, false]   
    
    imu0_angular_velocity_rejection_threshold: 5.0
    imu0_linear_acceleration_rejection_threshold: 5.0
    
    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom